<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log.base" value="/var/logs/ath" />
    <property name="project.name" value="ath" />
    <property name="pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level [%thread] %logger{80} :%msg%n" />
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 日志输出编码 -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${pattern}</pattern>
        </layout>
    </appender>

    <appender name="root"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/${project.name}/${project.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/${project.name}/%d{yyyy-MM-dd}/${project.name}-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>

    <appender name="ERROR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/${project.name}/${project.name}-error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/${project.name}/%d{yyyy-MM-dd}/${project.name}-error-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <logger name="com.spping.ath.sms.dao" level="debug"  additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="root"/>
        <appender-ref ref="ERROR" />
    </logger>

    <!-- root级别控制 -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ERROR" />
        <appender-ref ref="root" />
    </root>

</configuration>
